#container {
    background-color: rgb(122, 122, 187);
    font-size: 20px;
    text-emphasis: center;
}

#container::shadow {
    color:blue;
}

#container::after {
    color: brown;
}

#container::before{
    color: blanchedalmond;
}

#container:active {
    color:blue;
}

#container::content {
    cursor: auto;
}

#container::after {
    cursor:all-scroll;
}

