* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bs-border-width: 0px;
}

body {
    overflow-x: hidden;
}

#container {
    background-color: rgb(122, 122, 187);
    font-size: 20px;
    text-emphasis: center;
    align-items: end;
    font-weight: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-items: baseline;
    text-justify: auto;

}

#container::shadow {
    color:blue;
}

#container::after {
    color: brown;
}

#container::before{
    color: blanchedalmond;
}

#container:active {
    color:blue;
}

#container::content {
    cursor: auto;
}

#container::after {
    cursor:all-scroll;
}

