.float-right {
  float: right !important;
}

.ant-menu-overflow{
  display: block !important;
}

.header-nav-link {
  text-decoration: none;
}

.header-nav-link:hover {
  text-decoration: none;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Optional: this ensures the header stays on top of other elements */
  background: white; /* Optional: this ensures the header is not transparent */
}